<%= turbo_frame_tag "profile" do %>
  <% if @profile.image.present? %>
    <%= image_tag url_for(@profile.image), class:"profile-pic"  %>
  <% else %>
    <h3>No Image</h3>
  <% end %>

  <p><strong>Name:</strong> <%= current_user.full_name %></p>
  <p><strong>Bio:</strong> <%= @profile.bio.presence || "No bio available." %></p>

  <%= link_to "Edit Profile", edit_profile_path(@profile), class: "btn btn-primary" %>
<% end %>