<h1>Create a new post</h1>

<%= form_with model:@post, locals: true do |form| %>
  <div>
    <%= form.label :title, "Title:" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description , "Description:"%>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit "create post"%>
  </div>
<% end %>

