
<div class="main__div">

  <div class="left-side-bar">
    <%= render "profiles/profile", profile: @profile %>  </div>

  <div class="post__block">
    <h1>All Posts</h1>
    <%if @posts.present? %>
      <% @posts.each  do |post| %>
        <hr>
        <h3><%= post.title %></h3>
        <div>
          <% if post.image.attached? %>
            <%= image_tag post.image, alt: "Post Image", class: "post-image" %>
          <% else %>
            <p>No image available</p>
          <% end %>
        </div>
        <p> <%= post.description %> </p>

        <div class="button"><%= link_to "Show", post %></div>
      <% end %>
    <%else %>/i>
      <h1>no posts</h1>
    <%end %>
    </div>

  <div class="right-side-bar">
    <% @users.each do |user| %>
      <%= user.full_name %><br>
      <%= user.full_name %><br>
  <% end %>
  </div>

</div>