<div>
<h1>Post Details</h1>
<h3><%=@post.title%></h3>
  <h1>
    <%= image_tag @post.image, alt: "Post Image", class: "post-image" %>
  </h1>
  <p><%=@post.description%></p>
</div>
<div >
  <div class="button">  <%= link_to "Edit",edit_post_path %> </div>
  <div class="button">  <%= button_to "Destroy", post_path, method: :delete, data: {turbo_confirm: "Are You Sure?"} %> </div>
  <div class="button">  <%= link_to "Bact to Posts", posts_path %> </div>
</div>